/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.3s;
    z-index: 1000;
}

/* Logo */
.logo {
    color: red (255, 3, 3);
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
    color: red (255, 0, 0);
}

/* Scroll effect */
.scrolled {
    background-color: black;
}

/* Content */
.content {
    height: 2000px;
    background: linear-gradient(to bottom, #3498db, #ffffff);
    padding-top: 100px;
    text-align: center;
    color: white;
}